body {
  display: flex;
  flex-direction: column;

  min-width: 960px;
  min-height: 100vh;

  color: $black;
  background-color: $white;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;

  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > main {
    display: flex;
    flex-grow: 1;

    &.layout {
      > .layout__sidebar {
        position: unset;
        height: unset;
        padding: 22px 0;
      }
      > .layout__content {
        flex-grow: 1;
        padding: 22px;
      }
    }
  }
}
